* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

h1.time {
    border: 2px black solid;
    text-align: center;
}

